<div class="card" style="margin-top: 30px">
  <div class="card-header">
    In the battle
  </div>
  <div class="card-block">
    <% @res.each do |line| %>
    <%= line %><br/>
    <% end %>
  </div>
</div>
